<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>Name : <%=user.name%></div>
    <div>Email : <%=user.email%></div>
    <div>Role  : <%=user.role%></div>
    <div>createdAt  : <%=user.createdAt%></div>
</body>
</html>